
/* <fieldset id="edit-locations-0" class="location form-wrapper"> */
/* #block-verdant-share-rideshares
 * #edit-locations-0
*/
input {
 clear: left;
} 
input .form-text {
	width: 40px;  
	/* or a little short of the block width */
}
.form-item-locations-0-delete-location {
	display: none;    
	  /* delete the location checkbox
		   not sure about removing it, but think so */
}
/*** This is from gmic2010, and not sure if it is implemented or not ****/
/* needs lots of cleanup just to see what is being used and what isn't,
 * after the first section */

/*** tighten up block for form-entry for rideshare */
#verdant_rideshare .node-form div.standard {
	overflow: hidden;
}
#block-verdant-share-rideshares div.form-item-locations-0-locpick-user-longitude,
#block-verdant-share-rideshares div.form-item-locations-0-locpick-user-latitude {
	display: none;
}

#oldstyle_verdant_rideshare .node-form div.standard:hover {
	overflow: visible;
}

fieldset#edit-locations-0 {
	width: 60px;
	max-width: 60px;
	background: yellow;
	overflow: none;
}

/* This removes the word Location, but not whatever throws everything
#vertical-tabs-lis, .vertical-tabs .vertical-tab-button {
	display: none;
}
	*/


#xblock-verdant-share-rideshares .location-current-coordinates-fieldset {
	float: none;
}

#xblock-verdant-share-rideshares .fieldset-wrapper {
	clear: both;
}
#xblock-verdant-share-rideshares .vertical-tabs-panes,
#xblock-verdant-share-rideshares .vertical-tabs-processed {
	clear: both;
}


#toldstyle_verdant_rideshare .location .form-item label {
float: none;
	  /* not inline in tight space */
}
#verdant_rideshare .location-current-coordinates-fieldset {
	display: none;
}


/* removing latitude tools surprisingly difficult, other form changes
 * done in module */
#verdant_rideshare #gmap-auto2map-locpick_latitude0-wrapper,
#verdant_rideshare div.description,
#verdant_rideshare #gmap-auto2map-locpick_longitude0-wrapper {
	  display: none; /* If you wish to supply your own latitude and longitude ... */
}
#gmap-auto1map-locpick_longitude0-wrapper,
#gmap-auto1map-locpick_latitude0-wrapper {
	display: none;
}


